HFSS/**
!HFSS/
!HFSS/Linear_Patch_Rectangle.aedt


Altium/**
!Altium/
!Altium/*.PcbDoc
!Altium/*.PrjPcb
!Altium/*.SchDoc

Notes/**
Exports/**
Figures/**
!Figures/
!Figures/S11.png
!Figures/PCB_Layout.png
